Repository linagora/Gitlab_Monitor: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycln, isort, black

.pre-commit-config.yaml:

# # --- Copyright (c) 2024 Linagora
# # licence       : GPL v3
# # - Flavien Perez fperez@linagora.com
# # - Ma√Ølys Jara mjara@linagora.com




repos:
  - repo: local
    hooks:
      - id: pycln
        name: pycln
        entry: pycln
        language: python
        language_version: python3
        types: [python]
        args: ["--config", "pyproject.toml"]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        types: [python]
        language: python
        args: ["--filter-files", "--settings-path", "pyproject.toml"]
        files: gitlab_monitor/
      - id: black
        name: black
        entry: black
        language: python
        require_serial: true
        types: [python]
        args:
          - --config=pyproject.toml
          - gitlab_monitor
      # - id: pylint
      #   name: pylint
      #   entry: pylint
      #   language: python
      #   language_version: python3
      #   types: [python]
      #   args: ["--filter-files", "--output-format=colorized"]
      #   files: gitlab_monitor/

doc: add documentation
  .gitlab-ci.yml
  docs/Makefile
  docs/_static/diagramme-app.drawio.png
  docs/_static/uml_bdd.drawio.png
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/sources/architecture.md
  docs/sources/code-source.md
  docs/sources/contact.md
  docs/sources/development.md
  docs/sources/licence.md
  docs/sources/otherview.md
  docs/sources/tutorials.md
  gitlab_monitor/controller/controller.py
  old_doc/_static/.$uml_bdd_etoile.drawio.bkp
  old_doc/_static/Diagramme d'application.drawio
  old_doc/_static/Diagramme infrastructure.drawio
  old_doc/_static/uml_bdd_etoile.drawio
  old_doc/_static/uml_bdd_v1.drawio.png
  old_doc/changelog.rst
  old_doc/ci.rst
  old_doc/conf.py
  old_doc/index.rst
  old_doc/license.rst
  poetry.lock
  pyproject.toml
  scripts/check_code_quality.sh
  scripts/check_source.sh
  scripts/copyright.py
  scripts/generate_source.sh
  scripts/get-changelogs.sh
Due: pycln, isort, black

docs: Add module documentation and contribute sections (to finish)
  docs/conf.py
  docs/index.rst
  docs/sources/architecture.md
  docs/sources/code-source.md
  docs/sources/contribute.md
  docs/sources/development.md
  docs/sources/metabase.md
  docs/sources/module_doc.rst
  docs/sources/tutorials.md
  gitlab_monitor/services/bdd/repository.py
  poetry.lock
  pyproject.toml
Due: pycln, isort, black

build: update production docker image
  Dockerfile.prod
  old_doc/_static/.$uml_bdd_etoile.drawio.bkp
  old_doc/_static/Diagramme d'application.drawio
  old_doc/_static/Diagramme infrastructure.drawio
  old_doc/_static/uml_bdd_etoile.drawio
  old_doc/_static/uml_bdd_v1.drawio.png
  old_doc/changelog.rst
  old_doc/ci.rst
  old_doc/conf.py
  old_doc/index.rst
  old_doc/license.rst
  requirements.txt
Due: pycln, black

doc: Finished for v1.0.0 (Missing:'contribute' is uncomplete)
  docs/index.rst
  docs/sources/contribute.md
  docs/sources/overview.md
  docs/sources/tutorials.md
  poetry.lock
  pyproject.toml
Due: none

build(ci): update build-job
  gitlab-ci_templates/build-doc.yml
Due: none

style: fix pylint error
  gitlab_monitor/services/bdd/repository.py
Due: pycln, isort, black

tests: debug commit
  tests/unit/test_controller.py
Due: pycln, black

build: add prod dependancies in the app package build by poetry
  pyproject.toml
Due: none

docs: add dowload package section
  docs/index.rst
  docs/sources/download_package.md
Due: none

build(ci): debug commit
  gitlab-ci_templates/packages.yml
Due: none

buiild(ci): remove --verbose in publish-package job
  gitlab-ci_templates/packages.yml
Due: none

build: package debug commit
  .gitlab-ci.yml
  .pre-commit-config.yaml
  gitlab-ci_templates/build-dev.yml
  gitlab-ci_templates/build-doc.yml
  gitlab-ci_templates/build-prod.yml
  gitlab-ci_templates/linter.yml
  gitlab-ci_templates/packages.yml
  gitlab-ci_templates/release.yml
  gitlab-ci_templates/security.yml
  gitlab-ci_templates/tests.yml
  gitlab_monitor/services/bdd/bdd.py
  pyproject.toml
  scripts/check_code_quality.sh
  scripts/check_source.sh
  scripts/generate_source.sh
  scripts/get-changelogs.sh
Due: pycln, isort, black

build: fix nexus push
  .gitignore
  gitlab-ci_templates/packages.yml
Due: none

build(ci) sync repo to github
  .gitlab-ci.yml
  gitlab-ci_templates/sync.yml
Due: none

build(ci) add jenkins file
  Jenkinsfile
Due: none

style(copyrigtht) add copyright in jenkinsfile
  Jenkinsfile
Due: none

docs: clean documentation
  README.md
  docs/sources/download_package.md
Due: none

style: update doc & readme
  README.md
  docs/_static/gitlab_monitor.drawio.png
  docs/_static/gitlab_monitor_deploy.drawio.png
  docs/conf.py
  docs/index.rst
  docs/sources/contribute.md
  docs/sources/download_package.md
  docs/sources/installation.md
  docs/sources/overview.md
Due: pycln, black

docs: readme
  README.md
Due: none

readme
  README.md
Due: none

docs: documentation is ready to be published
  docs/conf.py
  docs/sources/contribute.md
  docs/sources/tutorials.md
  poetry.lock
  pyproject.toml
Due: pycln, black

build(ci) add github action file
  .github/workflows/build.yaml
Due: none

build(ci): update trigger branch to trigger on the integration branch of Gitlab Monitor Deploy project
  .gitlab-ci.yml
Due: none

build(ci): add gitlab pages doc
  gitlab-ci_templates/build-doc.yml
Due: none

build(ci): add gitlab pages
  .gitlab-ci.yml
  gitlab-ci_templates/build-doc.yml
Due: none

style: update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

style: fix linters errors
  gitlab_monitor/commands/command_mapper.py
  gitlab_monitor/exc.py
  gitlab_monitor/logger/logger.py
  gitlab_monitor/services/dto.py
  gitlab_monitor/services/mapper.py
Due: pycln, isort, black

style: fix linters errors
  gitlab_monitor/logger/logger.py
Due: pycln, isort, black

Create CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none
